---
layout: layout.njk
---

<div class="swipe slideshow initialized" id="swipe">
	<div class="swipe-wrap">
		<div class="slide cover">
			<nav>
				<a href="/travel" class="thumb travel">
					<span>Travel</span>
				</a>
				<a href="/wetfeet" class="thumb wetfeet">
					<span>Wet Feet</span>
				</a>
				<a href="/kites" class="thumb kites">
					<span>Kites</span>
				</a>
				<a href="/polaroid" class="thumb polaroid">
					<span>Instant Color Studies</span>
				</a>
				<a href="/flamingos" class="thumb flamingos">
					<span>Platic Flamingos</span>
				</a>
			</nav>
			<header>
				<h1>Koen Lageveen</h1>
				<p>Photographer</p>
			</header>
			<footer>
				<a href="/about" onclick="openAbout(event)">About</a>
			</footer>
		</div>
	</div>
</div>
