---
layout: layout.njk
---

<div class="swipe slideshow initialized" id="swipe">
	<div class="swipe-wrap">
		<div class="slide cover">
			<nav>
				<a href="/travel" class="thumb travel">Travel</a>
				<a href="/polaroid" class="thumb polaroid">Instant Color Studies</a>
			</nav>
			<header>
				<h1>Koen Lageveen</h1>
				<p>Photographer</p>
			</header>
			<footer>
				<a href="about.html" onclick="openAbout(event)">About</a>
			</footer>
		</div>
	</div>
</div>
