---
layout: layout.njk
title: Kite runners
description: Kite-related antics around Kijkduin and Zandmotor
---

<div class="swipe slideshow" id="swipe">
	<div class="swipe-wrap">
		{% include "_cover.njk" %}

		{% for pic in collections.kites -%}
		    <div class='slide'>
		    	<span class="title">{{ pic.name }}</span>
		    	<img
		    		alt='{{ pic.name }}'
		    		src='/photo/kites/{{ pic.key }}-1920.jpg'
		    		srcset='/photo/kites/{{ pic.key }}-750.jpg 878w, /photo/kites/{{ pic.key }}-1920.jpg 2048w'>
		    </div>
		{% endfor %}

	</div>
</div>

{% include "_controls.njk" %}
