---
layout: layout.njk
title: Instant color studies
---

<div class="swipe slideshow" id="swipe">
	<div class="swipe-wrap">
		<div class="slide cover">
			<a href="/" class="back">
				<svg class="playbutton" onclick="mySwipe.next()" width="43px" height="44px" viewBox="0 -1 101 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M50,0 L100,50" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
					<path d="M100,50 L50,100" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
					<path d="M99,50 L1,50" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
				</svg>
			</a>
			<p>
				This is a collection of color studies on aged or otherwise
				"problematic" polaroids.
			</p>
			<svg class="playbutton" onclick="mySwipe.next()" width="101px" height="102px" viewBox="0 -1 101 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<path d="M50,0 L100,50" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
				<path d="M100,50 L50,100" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
				<path d="M99,50 L1,50" id="Line" stroke="#ffffff" stroke-width="1" stroke-linecap="square" fill="none"></path>
			</svg>
			<header>
				<h1>Koen Lageveen</h1>
				<p>Photographer</p>
			</header>
		</div>
		<!-- photos go here -->

		<div class='slide'><span class="title">1</span><img alt='' src='/photo/polaroid/8-1920.jpg' srcset='/photo/polaroid/8-750.jpg 878w, /photo/polaroid/8-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">2</span><img alt='' src='/photo/polaroid/7-1920.jpg' srcset='/photo/polaroid/7-750.jpg 878w, /photo/polaroid/7-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">3</span><img alt='' src='/photo/polaroid/6-1920.jpg' srcset='/photo/polaroid/6-750.jpg 878w, /photo/polaroid/6-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">4</span><img alt='' src='/photo/polaroid/2-1920.jpg' srcset='/photo/polaroid/2-750.jpg 878w, /photo/polaroid/2-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">5</span><img alt='' src='/photo/polaroid/3-1920.jpg' srcset='/photo/polaroid/3-750.jpg 878w, /photo/polaroid/3-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">6</span><img alt='' src='/photo/polaroid/4-1920.jpg' srcset='/photo/polaroid/4-750.jpg 878w, /photo/polaroid/4-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">7</span><img alt='' src='/photo/polaroid/9-1920.jpg' srcset='/photo/polaroid/9-750.jpg 878w, /photo/polaroid/9-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">8</span><img alt='' src='/photo/polaroid/10-1920.jpg' srcset='/photo/polaroid/10-750.jpg 878w, /photo/polaroid/10-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">9</span><img alt='' src='/photo/polaroid/5-1920.jpg' srcset='/photo/polaroid/5-750.jpg 878w, /photo/polaroid/5-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">10</span><img alt='' src='/photo/polaroid/12-1920.jpg' srcset='/photo/polaroid/12-750.jpg 878w, /photo/polaroid/12-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">11</span><img alt='' src='/photo/polaroid/1-1920.jpg' srcset='/photo/polaroid/1-750.jpg 878w, /photo/polaroid/1-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">12</span><img alt='' src='/photo/polaroid/13-1920.jpg' srcset='/photo/polaroid/13-750.jpg 878w, /photo/polaroid/13-1920.jpg 2048w'></div>
		<div class='slide'><span class="title">13</span><img alt='' src='/photo/polaroid/11-1920.jpg' srcset='/photo/polaroid/11-750.jpg 878w, /photo/polaroid/11-1920.jpg 2048w'></div>

		<!-- end of photos -->
	</div>
</div>
<span class="previous" onclick="mySwipe.prev()"></span>
<span class="next" onclick="mySwipe.next()"></span>
