/* stylelint-disable property-no-vendor-prefix */

@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blurOut {
	to {
		filter: blur(4px) grayscale(100%);
		transform: scale(.9);
		opacity: .2;
	}
}
@keyframes returnFromBlur {
	0% {
		filter: blur(4px) grayscale(100%);
		transform: scale(.9);
		opacity: .2;
	}
	100% {
		filter: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes slide {
	0% {
		bottom: -2vh;
		opacity: 0;
	}
	100% {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes slideFooter {
	0% {
		bottom: 0;
		opacity: 0;
	}
	100% {
		bottom: .75em;
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

html {
	background: #000;
	height: 100%;
}

body {
	height: 100%;
	font-family: Avenir, Helvetica, sans-serif;
	color: #fff;
	line-height: 1.4;
}

a {
	color: #56bc8a;
	text-decoration: none;
}
a:hover,
a:active {
	color: #5cc993;
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: "Josefin Slab", Georgia, serif;
}
h2 {
	font-size: 2em;
	font-family: "Josefin Slab", Georgia, serif;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.slide {
	position: relative;
	height: 100%;
	max-height: 100%;
	padding: 3em 4em;
	float: left;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.slide:not(.cover) img {
	max-width: 100%;
	max-height: 100%;
}
.slide.cover {
	background: #000 url("cover.jpg") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	animation: 1s ease-out forwards fadeIn;
}
.slide.cover::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0 0 40vh #000;
	background: #000;
	animation: 6s ease-in-out forwards fadeIn;
	z-index: -1;
	pointer-events: none;
}
.about-is-open .slide img {
	animation: .4s ease-in-out forwards blurOut;
}
.about-is-closed .slide img {
	animation: .4s ease-in-out forwards returnFromBlur;
}

.previous,
.next {
	display: none;
	height: 100%;
	position: fixed;
	width: 30%;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: opacity .4s ease-in-out;
}
.initialized .previous,
.initialized .next {
	display: block;
}
.about-is-open .previous,
.about-is-open .next {
	opacity: 0;
}
.next {
	left: auto;
	right: 0;
}
.at-end .next {
	display: none;
}
.previous::after,
.next::after {
	content: "";
	pointer-events: none;
	position: relative;
	top: 50%;
	display: block;
	width: 3em;
	height: 3em;
	margin: -1.5em 1.5em 0 1.5em;
	float: left;
	border-top: 1px solid hsl(0, 0%, 20%);
	border-left: 1px solid hsl(0, 0%, 20%);
	transform: rotate(-45deg);
	transition: border-color .8s ease-in-out;
}
.next::after {
	float: right;
	transform: rotate(135deg);
}
.previous:hover::after,
.next:hover::after {
	border-color: hsl(0, 0%, 60%);
	transition: border-color .3s ease-in-out;
}
.previous:active::after,
.next:active::after {
	border-color: hsl(0, 0%, 100%);
}

.fullscreen {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	cursor: pointer;
	text-align: right;
	transition: opacity .4s ease-in-out;
}
.initialized .fullscreen {
	display: block;
}
.about-is-open .fullscreen {
	opacity: 0;
}
.fullscreen svg {
	transition: all 1.5s ease-in-out;
}
.is-fullscreen .fullscreen svg {
	transform: rotate(-180deg);
}
.fullscreen path {
	stroke: hsl(0, 0%, 20%);
	transition: stroke .8s ease-in-out;
}
.fullscreen:hover path {
	stroke: hsl(0, 0%, 60%);
	transition: stroke .4s ease-in-out;
}
.fullscreen:active path {
	stroke: hsl(0, 0%, 100%);
}

.playbutton {
	cursor: pointer;
	animation: 6s ease-in-out forwards fadeIn;
}
.playbutton path {
	transition: stroke .8s ease-in-out;
}
.playbutton:hover path {
	stroke: hsl(0, 0%, 60%);
	transition: stroke .4s ease-in-out;
}
.playbutton:active path {
	stroke: hsl(0, 0%, 100%);
}

header {
	text-align: center;
	width: calc(100% - 8em);
	position: absolute;
	bottom: 20vh;
	text-shadow: 0 0 .4em #000;
	transition: all 1s linear;
}
header h1 {
	font-family: "Josefin Slab", Georgia, serif;
	animation: 1s ease-in-out forwards slide;
	position: relative;
}
header p {
	color: #ccc;
	font-size: 1.333em;
	font-variant: small-caps;
	text-transform: lowercase;
	animation: 2s ease-in-out forwards slide;
	text-indent: .8em;
	letter-spacing: .8em;
	position: relative;
	line-height: 1;
}

footer {
	position: fixed;
	right: 1em;
	bottom: .75em;
	font-family: Avenir, Helvetica, sans-serif;
	display: none;
	animation: .5s ease-in-out forwards slideFooter;
	transition: opacity .2s ease-in-out;
}
footer span:last-child {
	color: #ccc;
}
.initialized footer {
	display: block;
}
.about-is-open footer {
	opacity: 0;
}

.about {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3em;
	color: #ccc;
	overflow: auto;
}
.about-is-open .about {
	display: block;
	animation: .4s ease-out fadeIn;
}
.about > * {
	max-width: 33rem;
	margin: 0 auto;
}
.about h2 {
	color: #fff;
}
.about p {
	margin: 1em auto;
}

.signature {
	font-weight: 500;
	margin-top: 2em;
}

.close {
	position: fixed;
	top: 2em;
	right: 2em;
	opacity: .4;
	transition: opacity .8s ease-in-out;
}
.close:hover {
	transition: opacity .4s ease-in-out;
	opacity: .8;
}
.close:active {
	opacity: 1;
}

@media (max-width: 480px) {
	header h1 {
		font-size: 2em;
	}
	header p {
		font-size: 1em;
	}
}
