@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes slide {
	0% {
		bottom: -2vh;
		opacity: 0;
	}
	100% {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes slideFooter {
	0% {
		bottom: 0;
		opacity: 0;
	}
	100% {
		bottom: .75em;
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

html {
	background: #000;
	height: 100%;
}
body {
	height: 100%;
	font-family: Avenir, Helvetica, sans-serif;
	color: #fff;
	line-height: 1.4;
}

a {
	color: #56BC8A;
	text-decoration: none;
}
a:hover,
a:active {
	color: #5CC993;
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Josefin Slab', Georgia, serif;
}
h2 {
	font-size: 2em;
	font-family: 'Josefin Slab', Georgia, serif;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.slide {
	position: relative;
	height: 100%;
	max-height: 100%;
	padding: 3em 4em;
	float: left;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.slide:not(.cover) img {
	max-width: 100%;
	max-height: 100%;
}
.slide.cover {
	background: #000 url(photos/cover.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	animation: 1s fadeIn ease-out;
	animation-fill-mode: forwards;
}
.slide.cover::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0 0 40vh #000;
	background: #000;
	animation: 6s fadeIn ease-in-out;
	z-index: -1;
	pointer-events: none;
}
.previous,
.next {
	display: none;
	height: 100%;
	position: fixed;
	width: 30%;
	top: 0;
	left: 0;
	cursor: pointer;
}
.initialized .previous,
.initialized .next {
	display: block;
}
.at-end .next {
	display: none;
}
.next {
	left: auto;
	right: 0;
}
.previous::after,
.next::after {
	content: "";
	pointer-events: none;
	position: relative;
	top: 50%;
	display: block;
	width: 3em;
	height: 3em;
	margin: -1.5em 1.5em 0 1.5em;
	float: left;
	border-top: 1px solid rgba(255,255,255,.1);
	border-left: 1px solid rgba(255,255,255,.1);
	transform: rotate(-45deg);
	transition: border-color .9s ease-in-out;
}
.next::after {
	float: right;
	transform: rotate(135deg);
}
.previous:hover::after,
.next:hover::after {
	border-color: rgba(255,255,255,.6);
	transition: border-color .3s ease-in-out;
}
.previous:active::after,
.next:active::after {
	border-color: rgb(255,255,255);
}

.playbutton {
	animation: 6s fadeIn ease-in-out;
	cursor: pointer;
}
.playbutton path {
	transition: stroke .9s ease-in-out;
}
.playbutton:hover path {
	stroke: rgba(255,255,255,.6);
	transition: stroke .3s ease-in-out;
}
.playbutton:active path {
	stroke: rgb(255,255,255);
}

header {
	text-align: center;
	width: calc(100% - 8em);
	position: absolute;
	bottom: 20vh;
	text-shadow: 0 0 .4em #000;
	transition: all 1s linear;
}
header h1 {
	font-family: 'Josefin Slab', Georgia, serif;
	animation: 1s slide ease-in-out;
	position: relative;
}
header p {
	color: #ccc;
	font-size: 1.333em;
	font-variant: small-caps;
	text-transform: lowercase;
	animation: 2s slide ease-in-out;
	text-indent: .8em;
	letter-spacing: .8em;
	position: relative;
	line-height: 1;
}
footer {
	position: fixed;
	right: 1em;
	bottom: .75em;
	font-family: Avenir, Helvetica, sans-serif;
	display: none;
	animation: .5s slideFooter ease-in-out;
}
footer span:last-child {
	color: #ccc;
}
.initialized footer {
	display: block;
}

article {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.9);
	padding: 3em;
	color: #ccc;
	overflow: auto;
}
article > * {
	max-width: 33rem;
	margin: 0 auto;
}
article p {
	margin: 1em auto;
}

.about {
	display: none;
	z-index: 2;
	animation: .25s fadeIn ease-out;
}
.about.visible {
	display: block;
}

.signature {
	font-weight: 500;
	margin-top: 2em;
}

.close {
	position: fixed;
	top: 1em;
	right: 1em;
	color: #ccc;
	font-size: 2em;
}
.close:hover,
.close:active {
	color: #fff;
	text-decoration: none;
}


@media (max-width: 480px) {
	header h1 { font-size: 2em; }
	header p {font-size: 1em; }
}
